<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Live Stream</title>
</head>
<body>
  <h1>HARI ACHMAD Live Stream</h1>
  <button id="playButton">Play Video</button>
  <video id="videoPlayer" width="640" height="360" controls autoplay muted="muted">
    <source src="http://34.126.97.166:3000/live/mystream/index.m3u8" type="application/x-mpegURL">
    Your browser does not support the video tag.
  </video>

  <!-- Include hls.js library for HLS support -->
  <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
  <script>
    document.getElementById('playButton').addEventListener('click', () => {
            const video = document.getElementById('videoPlayer');
            video.play().catch(error => {
                console.error('Error attempting to play', error);
            });
        });

    var video = document.getElementById('videoPlayer');
    var videoSrc = 'http://34.126.97.166:3000/live/mystream/index.m3u8';

    if (Hls.isSupported()) {
      var hls = new Hls();
      hls.loadSource(videoSrc);
      hls.attachMedia(video);
      hls.on(Hls.Events.MANIFEST_PARSED, function() {
        video.play();
      });
    } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
      video.src = videoSrc;
      video.addEventListener('loadedmetadata', function() {
        video.play();
      });
    }
  </script>
</body>
</html>
